<html>
<form method="POST">
    <h1 align="center">Modular Exponentiation</h1>
<div align="center">
    <p>Solves a^b mod n, a neccessary output in RSA. This can handle very large integers like 135123958720974102397593127359011239 and larger.</p>
    
    <p>Write a here:
            <input type="text" name="a" value={{constant}}>
    </p>
    <p>Write b here: 
            <input type="text" name="b" value={{exponent}}>
    </p>
    <p>Write mod n here: 
            <input type="text" name="n" value={{modn}}>
    </p>
    <p>Result: {{Result}}</p>
    
    <p><input type="submit" name="butt" value="Submit"></p>
    
</div>
</form>
</html>