<h3><a href=/>Return Home</a></h3>
<p>All these files are a showcasing of python (except the home page and fizzbuzz, those are in javascript)</p>
<p>Encryption: <a href=/Ciphers>RSA</a>, <a href=/affine>Affine Cipher</a></p>
<p>Calculators: <a href=/Combinations>Combinations, </a><a href=/ModularExponentiation>Modular Exponentiatidon</a>, <a href=/VectorCalculator>Coordinates to Vector (OOP)</a> ,<a href=/ImperialMetricConversion>Miles to Imperial and Metric</a></p>
<p>Games: <a href=https://youtu.be/b8qk-pBinsE>Youtube</a>, <a href=/fizzbuzz>Fizzbuzz</a></p>
<h3><a href=https://github.com/ZetaBlizz/Projects>View C++ and Source Code for these projects and website (Github)</a><h3>