</html><!DOCTYPE html>
<html>
<head>
	<head>
	<title>Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
</head>
<body>
	<div id="page">
		<div id="navbar">
			<h1>Emmanuel Saldivar-Huertero</h1>
			<div id="links">
				<div><a href="/projects"><button>Projects</button></a></div>
				<div><button id="nightMode" onclick="darkMode()">Night-Mode</button></div>
				<div><a href="https://www.instagram.com/p/CTGRJLAnUdA/"><button>Guitar</button></a></div>
			</div>
		</div>

		<div id="resume">
			<div class="pannel">
				<a href="https://catalog.uic.edu/ucat/colleges-depts/liberal-arts-sciences/mscs/bs-math-cs/" target="_blank">
					<img class="uic" src="../static/images/uic_logo.png">
				</a>
				<h2>Education</h2>
				<hr>
				<a href="https://catalog.uic.edu/ucat/colleges-depts/liberal-arts-sciences/mscs/bs-math-cs/">
					<h3>The University of Illinois at Chicago</h3>
				</a>
				<p><strong><em>Dec 2022</em></strong> BS Mathematics and Computer Science</p>
				<p><strong><em>Coursework:</em></strong> Data Structures & Algorithms, Codes & Cryptography, Combinatorics, and Programming Tools</p>
				<p><strong><em>Minor:</em></strong> Italian & Italian American Studies</p>
				<ul>
					<li>Dean's List Three times</li>
					<li>3.0 GPA</li>
				</ul>
			</div>
			<div class="pannel">
				<a href="https://www.midtown-metro.org/" target="_blank">
					<img class="mef" src="https://static1.squarespace.com/static/54b56671e4b073cb320bea11/t/5c6eec70f4e1fcb9922545c7/1581710111697/?format=1500w">
				</a>	
				<h2>Experience</h2>
				<hr>
				<a href="https://www.midtown-metro.org/" target="_blank">
					<h3>Midtown Education Foundation</h3>
				</a>
				<p>&nbsp;| 1819 N. Wood St., Chicago, IL 60622</p>

				<p> 
					<h4>Character Teacher</h4> <em>(June 2019 &ndash; March 2020/September 2021 &ndash; May 2022/September 2022 &ndash; May 2023)</em>
				</p>
				
				<ul>
					<li>
						Built a curriculum that introduced the idea of variables, expressions, and defining functions via Scratch for Junior High students. Including other activities such as: Arduino, chess, public speaking, and debate.
					</li>
					<li>
						Developed a curriculum centered on virtues that help Junior High students think critically, and endow them with necessary skills for growing young men.
					</li>
					<li>
						Actively planned with staff on new policies and schedule changes that make the program run more efficiently and successfully.
					</li>
				</ul>
				<p>
					<h4>Suppprt Director</h4> <em>(June 2022 &ndash; Aug 2022/May 2023-Current)</em>
				</p>
				<ul>
					<li>
						Led a group of 5 college students to achieve the logistical challenges of running the summer program for 300 people efficiently and smoothly. Always being ready to fulfil the dynamic needs of teachers, coaches, administration, parents, and students at any given time of day.
					</li>
				</ul>
				
				<p>
					<h4>Mentor</h4> <em>(June 2017 &ndash; Aug 2017/June 2018 &ndash; Aug 2018)</em>
				</p>
				<ul>
					<li>
						Had one on one conversations with 6<sup>th</sup>-8<sup>th</sup> grade boys, challenging them to see the bigger pictures in life, and set small achievable goals.
					</li>
					<li>
						Communicated with parents and staff on how we could help mentees improve at school, home, and as a person.
					</li>
				</ul>
				
			</div>
			
			<div class="pannel">
				<a href="https://www.facebook.com/WorldNutritionChi/" target="_blank">
					<!--<img class="uic" src="https://www.facebook.com/photo/?fbid=513233144143873&set=a.513233110810543&__tn__=%3C">-->
					<h3>World Nutrition</h3>
				</a>
				<p>&nbsp;| 2029 W Division St, Chicago, IL 60622</p>
				<p>
					<h4>Data Transfer</h4> <em>(September 2021 &ndash; December 2021)</em>
				</p>
				<ul>
					<li>
						Solved data transfer issue of clients clover data being manually inputted to Herbalife's mobile APK. By automating the process of transferring .csv files to HerbaLife's APK.
					</li>
				</ul>
			</div>

			<div class="pannel">
				<a href="https://ysi.org/" target="_blank">
					<img class="ysi" src="http://ysi.org/wp-content/uploads/2017/10/ysi.jpg">
					<h3>Youth Services International</h3>
				</a>
				<p>&nbsp;| 6286 State Road 26 East, Lafayette, IN 47905</p>
				<p>
					<h4>Junior Counselor</h4> <em>(June 2017 &ndash; June 2017)</em>
				</p>
				<ul>
					<li>
						Helped set up for activities and made sure campers followed their schedule.
					</li>
					<li>
						Adapted quickly to the schedule and code of conduct, after being called in a day before camp started.
					</li>
				</ul>
			</div>

			<div class="pannel">
				<a href="https://sma-church.org/" target="_blank">
					<img class="sma" src="https://sma-church.org/wp-content/uploads/2019/11/logo-final-5-medium-350-3.png">
					<h3>St. Mary of the Angels</h3>
				</a>
				<p>&nbsp;| 1850 N Hermitage Ave, Chicago, IL 60622</p>
				<p>
					<h4>Maintenance</h4> <em>(July 2016 &ndash; August 2016/Dec. 2016 - Jan. 2017)</em>
				</p>
				<ul>
					<li>Assisted two co-workers in maintaining the high standards of the cathedral and school.</li>
				</ul>
			</div>
			<div class="pannel">	
				<h2>Skills</h2>
				<ul>
				<li>Python: Pandas, NumPy, flask, sqlite3</li>
				<li>C++</li>
				<li>JavaScript, HTML, CSS</li>
				<li>Native English and Spanish</li>
				<li>Proficient Italian</li>
				<li>Adult and Pediatric First Aid/CPR/AED certified by Red Cross</li>
				<li>Fingerstyle Guitarist</li>
				<!--<button id="nightMode" onclick="test()">Toggle Dark-Mode</button>
				<button id="nightMode" onclick="test2()">Toggle Dark-Mode</button>-->
				</ul>
			</div>
		</div>
	</div>
	<script src="../static/JavaScript/index.js">
	</script>

</body>
</html>